body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
}

h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px !important;
}

.multicol {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

#villages > label {
  display: none;
}

#select-village-label {
  padding-left: 15px;
}

#house1>img, #house2>img, #house3>img {
	border: solid 2px;
}

.info-bulle {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #FFEB3B;
  background-color: #FFFFCC;
  border-color: #FFEB3B;
}

th {
  background-color: #00A65A;
  color: white;
  vertical-align: middle!important;
}

#downloadData, #report {
  color: black;
}

.province-label {
  border-bottom: 1px solid white;
}

.small-box {
  background: #019496!important;
}

thead th {
  background: #019496!important;
}

.main-header {
  max-height: 200px
}
.main-header .logo {
  height: 70px;
  background-color: #222D32!important;
}

.main-sidebar {
	padding-top: 110px
}

.sidebar-toggle {
	display: none;
}

.navbar-static-top {
	background-color: #E25B01!important;
}

.header-text {
	color: white;
	font-size: 26px;
	padding-right: 10px;
}

#landCoverImages > div {
  display: inline !important;
}

#landCoverImages {
  text-align: center;
}

label > span{
  padding-left: 5px;
}

th > p {
  font-size: 18px;
}

.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden; }

span.logo, .logo a img {
  height: 100px !important;
}

#partenaires {
  height: 60px;
}

.navbar-custom-menu {
  width: 100%;
  text-align: center;
}

.navbar-custom-menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

::after {
  flex-basis: 0;
}